@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  color: white;
  overflow: hidden;
}

/* los 3 banners que se mostrarán */
.item-slide {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  background: rgb(9, 9, 9);
  background: linear-gradient(
    53deg,
    rgba(9, 9, 9, 1) 4%,
    rgba(13, 12, 12, 1) 22%,
    rgba(89, 87, 85, 1) 77%,
    rgba(181, 181, 181, 1) 98%
  );
}

/* Contenedor de todos los banners, botones */
.container-all {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

/* Contenedor de los banners para las animaciones */
.slide {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 0.6s;
}

/* Contenedor de iconos,  */
.pagination {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 4%;
}

.pagination-item {
  display: flex;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 0.3s;
}

.pagination-item:hover {
  transform: scale(2);
}

.pagination-item img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 0.3s;
}

.pagination-item:hover img {
  opacity: 1;
  transform: scale(1);
}

input[id="1"]:checked ~ .slide {
  transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
  background-color: white;
}

input[id="2"]:checked ~ .slide {
  transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
  background-color: white;
}

input[id="3"]:checked ~ .slide {
  transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
  background-color: white;
}

img {
  width: 100%;
}

.banner {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.clock {
  display: flex;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  background: url(../img/clock.png) no-repeat;
  background-position: center center;
  background-size: cover;
  border: 4px solid rgba(151, 130, 107, 1) 77%;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.5s ease;
}

.clock:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 50%;
  z-index: 100;
}

.clock .hours,
.clock .minutes,
.clock .seconds {
  position: absolute;
}

.clock .hours,
.hrs {
  width: 115px;
  height: 115px;
}

.clock .minutes,
.min {
  width: 135px;
  height: 135px;
}

.clock .seconds,
.sec {
  width: 165px;
  height: 165px;
}

.hrs,
.min,
.sec {
  --rotation: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  transform: rotate(calc(var(--rotation) * 1deg));
}

.hrs:before {
  content: "";
  position: absolute;
  width: 5.8px;
  height: 58px;
  background: #2f0506;
  border: 0.5px solid #cea669;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.min:before {
  content: "";
  position: absolute;
  width: 2.9px;
  height: 68px;
  background: #898687;
  border: 0.5px solid #cea669;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.sec:before {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 108px;
  background: white;
  border: 0.5px solid #cea669;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 4%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  min-height: 20%;
  overflow: hidden;
  transition: all 0.5s ease;
}

.watch-brand {
  padding: 0 8%;
}

.watch-brand h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 8px;
}

.watch-brand p {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(112, 112, 112);
  width: fit-content;
  font-weight: 300;
  font-size: 12px;
}

.bubble {
  background-color: rgba(181, 181, 181, 0.2);
  width: 170px;
  height: 170px;
  position: absolute;
  z-index: 10;
  top: -50px;
  right: -70px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  overflow: hidden;
}

.skip {
  position: relative;
  width: 100%;
  height: 100%;
}

.skip-text {
  z-index: 100;
  color: white;
  position: absolute;
  top: 50%;
  left: 25%;
  font-weight: 100;
  text-decoration: none;
}

.btn-bottom {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

input[type="checkbox"] {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: #1a1a1a;
  outline: none;
  border-radius: 30px;
  transition: all 0.5s ease;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"] {
  background: rgb(212, 212, 212);
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:before {
  content: "Get Started";
  position: absolute;
  width: 57%;
  height: 100%;
  background: #fcc873;
  border-radius: 30px;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"]:before {
  left: 44%;
}

.clock-2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/montblanc.png);
}

.clock-3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/tag-heuer.png);
}

.clock-2,
.clock-3 {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-position: center left;
  background-size: cover;
  position: relative;
  transition: all 0.5s ease;
}

/* Responsive design */

@media (min-width: 375px) {
  .header {
    padding-top: 10%;
  }

  .btn-bottom {
    height: 60px;
  }
}

@media (min-width: 425px) {
  .clock {
    width: 300px;
    height: 300px;
  }

  .clock:before {
    width: 15px;
    height: 15px;
  }

  .clock .hours,
  .hrs {
    width: 133px;
    height: 133px;
  }

  .clock .minutes,
  .min {
    width: 158px;
    height: 158px;
  }

  .clock .seconds,
  .sec {
    width: 191px;
    height: 191px;
  }

  .hrs:before {
    width: 6.5px;
    height: 66px;
  }

  .min:before {
    width: 3.4px;
    height: 76.5px;
  }

  .sec:before {
    width: 2.5px;
    height: 125px;
  }

  .watch-brand h2 {
    font-size: 25px;
  }

  .watch-brand p {
    font-size: 15px;
  }

  .btn-bottom {
    height: 70px;
    width: 340px;
  }

  input[type="checkbox"]:before {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .clock {
    width: 350px;
    height: 350px;
  }

  .clock .hours,
  .hrs {
    width: 160px;
    height: 160px;
  }

  .clock .minutes,
  .min {
    width: 190px;
    height: 190px;
  }

  .clock .seconds,
  .sec {
    width: 230px;
    height: 230px;
  }

  .hrs:before {
    width: 8px;
    height: 80px;
  }

  .min:before {
    width: 4px;
    height: 92px;
  }

  .sec:before {
    width: 3.5px;
    height: 150px;
  }

  .watch-brand h2 {
    font-size: 35px;
    transition: all 0.5s ease;
  }

  .watch-brand p {
    font-size: 20px;
    transition: all 0.5s ease;
  }

  .btn-bottom {
    height: 70px;
    width: 400px;
  }

  .bubble {
    width: 220px;
    height: 220px;
    right: -90px;
  }

  span {
    font-size: 20px;
  }

  input[type="checkbox"]:before {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .btn-bottom {
    bottom: 40px;
    transition: all 0.5s ease;
    width: 250px;
    height: 55px;
  }

  input[type="checkbox"]:before {
    font-size: 18px;
  }

  .bubble {
    width: 140px;
    height: 140px;
  }
}
